<h1>{{title}}</h1>
<br>
<p>{{message}}</p>
<br>
<div>
    <h2>Aniamation</h2>
    <ul>
        {{#each data}}
        <li>
            <br><br><br><br><br>
            <h3>{{movie_name}}</h3>
              <br><br><br>
            <img src="images/{{movie_picture}}" alt="{{movie_name}}">
            <br><br>
            <p>{{movie_text}}</p>
            <video id="video" controls>
              <br><br><br><br>
                <source src="video/{{movie_mv}}" type="video/mp4">
                  Upload your browser
        </li>
        {{/each}}
    </ul>
</div>
